body {
    background-image: url(nails1.jpg);
    background-repeat:no-repeat;
    background-size: fit;
    background-origin: padding-box;
    background-color:white;
}
#container {
    width: 100%;
}
#logo {
    font-family: 'Poiret One', cursive;
    font-size: 31px;
    font-weight:bold;
    color: #f7f4f4;
    position: relative;
    left: 180px;
    top: 20px;
    text-transform: uppercase;
}
#address {
    font-size: 15px;
    font-weight: lighter;
    color: #f7f4f4;
    position: relative;
    left: 500px;
    top: 20px;
}
#phone {
    font-size: 15px;
    font-weight: lighter;
    color: #f7f4f4;
    position: relative;
    left: 800px;
    top: 20px;
}
.navbar {
    background-color: #2b2929;
    opacity: .8;
    top: 30px;
    padding: 20px;
    margin: auto;
}
.link {
    font-family: Arial;
    font-size: 14.5px;
    color: #f7f4f4; 
    text-decoration: none;
    margin: auto;
    word-spacing: normal;
}
a:hover {
    color: #ffc1aa;
    text-decoration: none;
} 
#footer {
    background-color: #2b2929;
    opacity: .8;
    color: #f7f4f4;
    padding:15px;
    position: fixed;
    bottom:10px;
    left:800px;
}
#footertext {
     font-family: 'Noto Sans', sans-serif;
     font-size: 14px;
}
.box{
    width: 1600px;
    height:720px;
    padding: 25px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.65);
}
#hours{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-right:60px;
    margin-top: -425px;
    width: 250px;
    height:325px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.65);
}
.gmap_canvas{
    margin-left:100px;
}
#description{
    margin-left:150px;
    margin-right:10px;
    width:700px;
    height:600px;
    padding:20px;
    background-color:white;
    background-color: rgba(255, 255, 255, 0.65); 
}
.about {
   line-height: 45px;
   font-size:19px;
   margin-top:25px;
}
#letter{
    font-family: 'Oleo Script', cursive; 
}
#paragraph1{
    margin-left:100px;
    margin-right:100px;
    margin-top:20px;
    width: 250px;
    padding: 20px;
    background-color: white;
     background-color: rgba(255, 255, 255, 0.65);
}
#paragraph2{
    margin-left:400px;
    margin-right:100px;
    margin-top:-200px;
    width: 250px;
    padding: 20px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.65);
}
#paragraph3{
    margin-left:680px;
    margin-right:100px;
    margin-top:-167px;
    width: 250px;
    padding:10px;
    background-color:white;
   background-color: rgba(255, 255, 255, 0.65);
}
#paragraph4{
    margin-left:100px;
    margin-right:100px;
    width:250px;
    padding:20px;
    background-color:white;
    background-color: rgba(255, 255, 255, 0.65);
}
#paragraph5{
    margin-left:100px;
    margin-right:100px;
    width:250px;
    padding:20px;
    background-color:white;
    background-color: rgba(255, 255, 255, 0.65);
}
#paragraph6{
    margin-left:100px;
    margin-right:100px;
    width:250px;
    padding:20px;
    background-color:rgba(255, 255, 255, 0.65);
}
#place{
    width:300px;
    height:135px;
    padding:25px;
    margin-left:685px;
    margin-top:-500px;
    background-color: rgba(255, 255, 255, 0.65);
}

    