body {
    background-image: url(paint.jpg);
}
#container {
    width: 100%;
}
#logo {
    font-family: Verdana;
    font-weight: bold;
    font-size: 31px;
    color: #f7f4f4;
    position: relative;
    left: 180px;
    top: 20px;
    text-transform: uppercase;
}
#address {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #f7f4f4;
    position: relative;
    left: 380px;
    top: 20px;
}
#phone {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #f7f4f4;
    position: relative;
    left: 580px;
    top: 20px;
}
.navbar {
    background-color: #2b2929;
    opacity: .8;
    top: 30px;
    padding: 20px;
    margin: auto;
}
.link {
    font-family: Arial;
    font-size: 14.5px;
    color: #f7f4f4; 
    text-decoration: none;
    margin: auto;
    word-spacing: normal;
}
a:hover {
    color: #ffc1aa;
    text-decoration: none;
}
#footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    position: relative;
    text-align: center;
    bottom:-700px;
}
#box{
    width: 300px;
    padding: 25px;
    margin-left: 100px;
}
#hours{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin-right:60px;
   margin-top: -500px;
}
.gmap_canvas{
    margin-left:100px;
}



    